{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        <h3>Edit Equipment</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Equipment Name
                </label>

                <input
                    type="text"
                    name="equipment_name"
                    value="{{ equipment.equipment_name }}"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Serial Number
                </label>

                <input
                    type="text"
                    name="serial_number"
                    value="{{ equipment.serial_number }}"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Department
                </label>

                <select
                    name="department"
                    class="form-control">

                    <option {% if equipment.department=="ICU" %}selected{% endif %}>ICU</option>

                    <option {% if equipment.department=="Emergency" %}selected{% endif %}>Emergency</option>

                    <option {% if equipment.department=="Pediatrics" %}selected{% endif %}>Pediatrics</option>

                    <option {% if equipment.department=="Radiology" %}selected{% endif %}>Radiology</option>

                    <option {% if equipment.department=="Operation Theatre" %}selected{% endif %}>Operation Theatre</option>

                </select>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Purchase Date
                </label>

                <input
                    type="date"
                    name="purchase_date"
                    value="{{ equipment.purchase_date }}"
                    class="form-control">

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Status
                </label>

                <select
                    name="status"
                    class="form-control">

                    <option {% if equipment.status=="Active" %}selected{% endif %}>
                        Active
                    </option>

                    <option {% if equipment.status=="Under Maintenance" %}selected{% endif %}>
                        Under Maintenance
                    </option>

                    <option {% if equipment.status=="Decommissioned" %}selected{% endif %}>
                        Decommissioned
                    </option>

                </select>

            </div>

            <button class="btn btn-primary">
                Update Equipment
            </button>

            <a href="/" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}